@font-face {
    font-family: "replay";
    src: url('../fonts/replay.ttf');
}
@font-face {
    font-family: "computer";
    src: url('../fonts/UASQUARE.TTF');
}
.conteneur {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}
span {
  color: #114B28;
}

/*==========MENU=============*/
.menu {
  font-family: "replay";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(67,67,83, 0.3);
  width: 23%;
  height: 100%;
}
.logo {
  width: 75%;
  height: 25%;
}
nav img {
  width: 53px;
  height: 61px;
}
.liens {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.liens img {
  margin-right: 7px;
}
a, a:hover, a:active {
  color: #E0E0E0;
  font-family: "replay";
  font-size: 21px;
}
.menu p {
  width: 100%;
  text-align: center;
  color: #E0E0E0;
  font-size: 17px;
}
/*===========CONTENU==========*/

.contenu {
  font-family: "computer";
  font-size: 15px;
  background-color: rgba(25,25,25, 0.7);
  margin: 7% 7% 7% 7%;
  width: 100%;
  color : #E0E0E0;
  display: flex;
}
.contenu h1 {
  font-size: 20px;
}

/*=============HOME=============*/

.home {
  /*border: solid blue 1px;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home h1 {
  width: 100%;
  /*border: solid white 1px;*/
  font-size: 70px;
  margin-bottom: -25px;
}
.home h2 {
  margin-top: -25px;
  width: 100%;
  font-size: 50px;
  /*border: solid red 1px;*/
}


/*=============PRESENTATION=========*/

.presentation {
  display: flex;
  align-items: center;
  /*border: solid blue 1px;*/
  width: 100%;
}
.presentation img {
  width: 40%;
  height: 30%;
  border-radius: 12%;
  margin-left: 30px;
}
.presentation p {
  /*border: solid white 1px;*/
  width: 100%;
  height: 30%;
  margin-right: 30px;
  margin-left: 30px;
}


/*======================PARCOURS============*/

.parcours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /*border: solid blue 1px;*/
}
.parcours h1 {
  width: 100%;
  height: 10%;
  text-align: center;
  /*border: solid green 1px;*/
}
.formation {
  height: 70%;
  width: 33%;
  /*border: solid white 1px;*/
}
.parcours hr {
  transform:rotate(540deg);
  margin-left: 70px;
  margin-right: 70px;
}
.expPro {
  height: 70%;
  width: 33%;
  /*border: solid red 1px;*/
}

/*===============COMPETENCES============*/

.competences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.competences h1 {
  width: 100%;
  height: 10%;
  text-align: center;
  /*border: solid green 1px;*/
}
.competences h2 {
  width: 50%;
  text-align: center;
}
.comp {
  width: 33%;
  height: 40%;
  /*border: solid white 1px;*/
}
.competences hr {
  transform:rotate(540deg);
  margin-left: 70px;
  margin-right: 70px;
  height: 40%;
}
.notions {
  width: 33%;
  height: 40%;
  /*border: solid blue 1px;*/
}
.enCours  {
  text-align: center;
}

/*=============PORTFOLIO===============*/

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
